.portfolioImage{
    max-height: 450px;
    margin-right: 0px;
    border: 3px solid #cdc4c1;
    border-radius: 3px;
}

.thumbImage{
  max-height: 40px;
  margin: 0px 1px;
  border: 1px solid #70615c;
  border-radius: 5%;
}

.thumbRow{
  margin: 5px;
}

.active{
  border: 3px solid #7dc9a1;
}

.navButton{
  height: 40px;
  margin: 5px 5px 10px;
  padding: 0px 20px;
  border: 2px solid #70615c;
  background-color: #f0e9e9;
}

.artTitle{
  margin-bottom: 2px;
}