body {
  background-color: #f7f4f0;
  padding-left: 15px;
}

.note {
  background-color: white;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 4rem;
  text-align: center
}

.middle {
  background-color: #f4f4f4;
}

.bottom {
  background-color: #e0e0e0;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

select{
  margin: 16px 7px;
}