body {
  font-family: 'Karla', sans-serif;
  //font-family: 'Amiko', sans-serif;
  background-color: #F9F7F7;
  color: #352d2a;
}

.navbar {
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 5px;
  margin-bottom: 3px;
  background-color: #fafafa;
  border-bottom: 1px solid #cccccc;
}

.master {
  padding-top: 10px;
}


.center-v,
.center-h {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

.project {
  border: 1px solid #dcd0cc;
  margin: 4px;
  padding: 4px;
  width: 200px;
}

.image {
  max-height: 200px;
  min-height: 150px;
  max-width: 200px;
}

.center-h {
  flex-direction: row;
}

.center-v {
  flex-direction: column
}

.navbar-link {
  padding: 5px 15px;
}

a {
  text-decoration:  none;
}

.current-location {
  background-color: #e8e8e8;
  border-radius: 5px;
}

.navbar-link:hover {
  background-color: #cccccc;
}

.headshot {
  border-radius: 50%;
  max-width: 50%;
}

.green {
  background-color: #546f61;
}

.orange {
  background-color: orange;
}

